
.App-card {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
  gap: 20px;
  width: 70%;
  margin: auto;
  background-color: #fffcf6;
}



@media (max-width: 700px) {
  
}