.cardHome{
    position: relative;
    flex-grow: 1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 25%;
    max-width: 20vw;
    height: 420px;
    border-radius: 16px;
    background-size: cover!important;
}

.cardHome:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 20px rgba(0,0,0,0.19);
    width: 26%;
    height: 425px;
    transition: 0.4s;
    cursor: pointer;
}

.card-content{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: left;
    padding-top: 5%!important;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.badge{
    position: absolute;
    right:-5%;
    top: -4%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}


.button-close {
    display: flex;
    position: absolute;
    top: -4%;
    right: -6%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(237, 29, 36, 1) 0%, rgba(230, 32, 39, 1) 39%, rgba(228, 85, 90, 1) 100%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .button-close:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(180deg, rgb(231, 72, 77) 0%, rgb(227, 65, 70) 39%, rgba(228, 85, 90, 1) 100%);
    transition: 0.4s;
    cursor: pointer;
  }

.x-shape {
    width: 20px;
    height: 20px;
    position: relative;
    left: -2px;
  }
  
  .x-shape:before, .x-shape:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: white;
  }
  
  .x-shape:before {
    transform: rotate(45deg);
  }
  
  .x-shape:after {
    transform: rotate(-45deg);
  }

@media (max-width: 700px) {
    .cardHome{
        width: 50%;
        height: 520px;
        max-width: none;
    }

    .badge{
        top: -2%;
        right:-3%;
    }
}