.detailsPage{
    padding: 5%;
}
.col-12 button {
    margin: 5px;
}

.areaPoderes{
    width: 100%;
}
 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

  